
@{
    ViewBag.Title = "insertcus";
}

<h2>insertcus</h2>
<form method="post">
    名稱:<input type="text" name="name" />
    <br />
    電話:<input type="text" name="phone" />
    <br />
    信箱:<input type="text" name="email" />
    <br />
    住址:<input type="text" name="address" />
    <br />
    <input type="submit" value="ok" class="btn btn-secondary" />
</form>
<a href="~/customer/List"class="btn btn-success">上一頁</a>