
@{
    ViewBag.Title = "math2";
}

<h2>math2</h2>
<form method="post">
    <input name="a" type="text" />x*x+<input name="b" type="text" />x+<input name="c" type="text" />
    <br />
    x=@ViewBag.x1
    x=@ViewBag.x2


    <input type="submit" value="ok" />
</form>