
@{
    ViewBag.Title = "photoupdate";
}

<h2>photoupdate</h2>

<form enctype="multipart/form-data" method="post">
    <div class="form-group">
        
        <div class="col-md-offset-2 col-md-10">
            <input type="file" name="xxx" value="" />
        </div>
        

        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="update" class="btn btn-default" />
        </div>
    </div>
</form>  