
@{
    ViewBag.Title = "sumdemo";
    
}

<h2>sumdemo</h2>
<form method="post">
    <p>
        <input type="text" name="txta" /> + <input type="text" name="txtb" /> = @ViewBag.ans
        <script></script>
    </p>
    <p>
        <input type="submit" value="OK" />
    </p>
</form>

